<h1>ショッピングカート</h1>
	<table>
			<tbody>
				<tr>
						<% @cart_items.each do |cart_item| %>
							<th>商品名</th>
							<th>個数</th>
							<!-- 画像 -->

							<td><%= cart_item.item.item_name %></td>
							<td><%= cart_item.count %>個
								</td>
							

						<% end %>

				</tr>
			
		</tbody>
	</table>
		<p>合計金額</p>