<% provide(:title, "商品編集") %>
<div id="wrapper">
  <div class="container body" id="page-body">
    <div class="row">
      <div class="span12">
        <h1 class="Arbutus title_spacer">
          <strong>Edit Item</strong>
        </h1>
<%= render 'form', item: @item %>